.transformControlIcon { 
    border: 2px solid; 
    border-color: #6495ED; margin: 5px; padding: 5px; color: #000000; 
    background-color: rgba(255,255,255,.6);
    width: 20px; 
    height: 20px;
    display: inline-block;
    vertical-align: middle;
}
.label { 
    border: 2px solid; 
    border-color: #6495ED; margin: 5px; padding: 5px; 
    color: #fff; 
    background-color: rgba(47,149,153,.6);
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    font-size: 8pt;
}
.mediaLabel { 
    font-size: 8pt;
    height: 15px;
}
body {
    font-family: Arial  ;
    background-color: #000;
    margin: 0px;
    overflow: hidden;
}
.availableMediaPanel {
    position: fixed;
    top: 0;
    width: 95%;
}
.availableMediaPanelInner {
    width: 90%;
    margin: 0 auto;             
}
.videoPanel {
    position: fixed;
    bottom: 50%;
    width: 95%;
}
.cameraPanel {
    position: fixed;
    bottom: 0%;
    width: 95%;
}
.meshPanel {
    position: fixed;
    bottom: 60%;
    width: 95%;
}
.texturePanel {
    position: fixed;
    bottom: 40%;
    width: 95%;
}
.transformPanel {
    position: fixed;
    bottom: 30%;
    width: 95%;
}
.complexPanel {
    position: fixed;
    bottom: 20%;
    width: 95%;
}
.transformPanel2 {
    position: fixed;
    bottom: 10%;
    width: 95%;
}
.centerAlign {
    width: 95%;
    margin: 0 auto;             
}
.statusText {
    height:30px;
    width:300px;
    color: #00ff00;
    padding: 5px;
    background-color: black;
    display: none;
}
.wideLabel {
    width: 80px !important;
}
#statsDiv {
    position: fixed;
    bottom: 0;
    z-index:  100;
    width: 100%;
}
#statsDivInner {
    float: right;                
}
#matrixText {
    display: block; 
    position: fixed; 
    top: 10%; 
    left: 10%; 
}
#wordText {
    display: block; 
    position: fixed; 
    top: 5%; 
    left: 10%; 
    font-size: 20px; 
    color: red;    
    border: 1px solid white;
}
.redText {
    font-size: 40px; 
    color: red;    
    border: 1px solid white;
}
.redText td {
    border: 1px solid blue;    
}